# see: http://EditorConfig.org

# end_of_line is unspecified so Windows users can use the repo in crlf mode

root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 3
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yml,webapp}]
# npm style
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[*.tsv]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = false
