{
	"root": true,
	"parserOptions": {
		"ecmaVersion": 9,
		"sourceType": "script",
		"ecmaFeatures": {
			"globalReturn": true
		}
	},
	"ignorePatterns": [
		"logs/",
		"node_modules/",
		".*-dist/",
		"tools/set-import/importer.js",
		"tools/set-import/sets",
		"server/global-variables.d.ts",
		"sim/global-variables.d.ts"
	],
	"env": {
		"es6": true,
		"node": true
	},
	"globals": {
		"Config": false, "Monitor": false, "toID": false, "Dex": false, "LoginServer": false,
		"Users": false, "Punishments": false, "Rooms": false, "Verifier": false, "Chat": false,
		"Tournaments": false, "IPTools": false, "Sockets": false, "TeamValidator": false,
		"TeamValidatorAsync": false, "Ladders": false
	},
	"extends": ["eslint:recommended", "./.eslintrc-syntax.json"],
	"overrides": [
		{
			"files": ["./lib/*.ts", "./server/**/*.ts", "./sim/**/*.ts", "./tools/set-import/*.ts"],
			"parser": "@typescript-eslint/parser",
			"parserOptions": {
			  "ecmaVersion": 9,
			  "sourceType": "module",
			  "tsconfigRootDir": ".",
			  "project": ["./tsconfig.json"]
			},
			"extends": [
			  "plugin:@typescript-eslint/recommended",
			  "plugin:@typescript-eslint/recommended-requiring-type-checking",
			  "./.eslintrc-syntax.json"
			],
			"rules": {
				"@typescript-eslint/no-floating-promises": ["warn", {"ignoreVoid": true}],
				"@typescript-eslint/no-misused-promises": "off",
				"@typescript-eslint/no-for-in-array": "error"
			}
		},
		{
			"env": {
				"mocha": true
			},
			"files": ["test/**/*.js"],
			"globals": {
				"BattleEngine": false
			}
		}
	]
}
