/config/*
!/config/formats.ts
/logs/*
/test/modlogs
/test/replays/*.html
/node_modules
/eslint-cache
/server/chat-plugins/private
/server/chat-plugins/private.js
/server/chat-plugins/*-private.js
npm-debug.log
.eslintcache
.eslintcache-no-types
package-lock.json
/tools/set-import/sets
databases/*.db*
*.o
*.o.dSYM
# Typescript build artifacts
.*-dist/
tools/set-import/importer.js
tools/modlog/converter.js
*.tsbuildinfo
**/sourceMaps

# visual studio live share
.vs

# boilerplate #
###############

.DS_Store

# editor temp files
*~
.idea/

tmp/**/*
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.pyo
.installed.cfg

downloads
dist

# egg related
develop-eggs
*.egg-info
*.egg
*.EGG
*.EGG-INFO
src/*.egg-info
eggs
fake-eggs

# django
local_settings.py

# SCM
.hg
.bzr
.svn

pip-log.txt
# redis dumps
*.rdb
