/config/*
!/config/formats.js
/logs/*
/node_modules
/eslint-cache
/server/chat-plugins/private/*
/server/chat-plugins/private.js
/server/chat-plugins/*-private.js
npm-debug.log
.eslintcache
package-lock.json
/tools/set-import/sets
databases/*.db*

# Typescript build artifacts
.*-dist/
tools/set-import/importer.js

# visual studio live share
.vs

# boilerplate #
###############

.DS_Store

# editor temp files
*~
.idea/

tmp/**/*
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.pyo
.installed.cfg

downloads
dist

# egg related
develop-eggs
*.egg-info
*.egg
*.EGG
*.EGG-INFO
src/*.egg-info
eggs
fake-eggs

# django
local_settings.py

# SCM
.hg
.bzr
.svn

pip-log.txt
