server/chat-plugins/scavenger*.ts @xfix @sparkychildcharlie
server/chat-plugins/trivia.js @xfix
server/chat-plugins/mafia.ts @HoeenCoder
data/mods/ssb/ @HoeenCoder
data/random-teams.ts @TheImmortal
data/mods/*/random-teams.ts @TheImmortal
