#header{
        background:url("http://i.imgur.com/F5pMH0a.png");
}

body {
        background:url("http://i.imgur.com/J4ALaW9.png");
}

.mainmenuwrapper {
	background: url("http://i.imgur.com/iHubd1y.png") right bottom no-repeat;
}


.chat-log{
	background: url("http://i.imgur.com/dIfUHsq.png") right top no-repeat;
}

.chat-log-add{
        background:#f68d4b 
}
  
.menugroup .button{
        background:#5a11ff
}

.menugroup .menugroup{
        text-align:center
}

.menugroup .button:hover {
        background:#9f89ff
}

.userlist{
        border-left:1px solid #D5DDE4;
        background:#f68d4b 
}

.userlist li button:hover {
        background:#db671d
}

.message-announce {
        background:#000000
}
