 body {
    background:url("http://i.imgur.com/0W87jDZ.png") !important;
    background-color: #344B6C;
    color: #FFFFFF;
  }

  #header {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    background:url("http://i.imgur.com/bpXwT97.png");
  }

  .ps-room.ps-room-light.scrollable {
    font-family: helvetica,arial,sans-serif;
    background: rgba(230, 240, 255, 0.8);
    border-right: -1px;
  }
  
  .pad {
    border-right: 0px;
  }

  .mainmenuwrapper {
    border-right: 0x;    
  }

  .battle-log {
    background:url("http://i.imgur.com/OALLyrg.png") repeat;
  }
  
  .pm-log {
    background:url("http://i.imgur.com/OALLyrg.png") repeat;
    border: 1px solid #000000;
}
  
  .chat-log.hasuserlist {
    background:url("http://i.imgur.com/hPMwWSG.png");
    background-repeat:no-repeat;
    background-size:auto 75%;
    background-position: center; 
}
  .chat-log-add.hasuserlist {
    background: #AFAFAF;
}
  
  .pm-log-add {
    border-top: 0px solid #000000;
    border-right: 0px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 0px solid #000000;
}

  .ps-overlay {
     background: rgba(230, 240, 255, 0.5)
  }

  .button.button {
    text-shadow: none;
  }

  .logo {
    opacity: 0;
  }

  .battleform label {
    background: url("http://i.imgur.com/yFWeHx0.png") no-repeat scroll left center transparent !important;
    padding: 4px;
    opacity: 0.9;
    color: #FFF;
  }

.menugroup {
    background: rgba(0, 0, 0, 0);
  }

.menugroup .button {
    background: none repeat scroll 0% 0% #474747;
    color: #FFFFFF;
    box-shadow: 0px 1px 0px 0px #5C5C5C inset, 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-color: #212121;
    width: 230px;
  }
  
  .menugroup .button:hover {
    background: none repeat scroll 0% 0% #505050;
    color: #FFFFFF;
    box-shadow: 0px 1px 0px 0px #5F5F5F inset, 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-color: #212121;
  } 

  div.roomlist {
   font-family: Verdana,Helvetica,Arial,sans-serif;
  }

  .roomlist a.ilink {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    border: 1px solid #2E2E2E;
    color: #000;
    background: #FFFFFF;
    text-shadow: 1px 1px #EAEAEA;
  }

  .roomlist a.ilink:hover {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    border: 1px solid #2E2E2E;
    color: #000;
    background: #EEEEEE;
  }

  .pm-window h3 {
    border: 1px solid #212121;
    color: #FFF;
    background:rgba(0, 0, 0, 0.7);
    font-family: helvetica,arial,sans-serif;
  }

  .pm-window h3:hover, .pm-window.focused h3, .pm-window.focused h3:hover {
    border: 1px solid #212121;
    color: #FFF;
    background:rgba(0, 0, 0, 0.8);
    font-family: helvetica,arial,sans-serif;
  }

  button.astext {  
   background-color: transparent; border: 0; padding: 0;
   font-family:Verdana,Helvetica,Arial,sans-serif;
  }

  button.astext:hover {  
   background-color: transparent; border: 0; padding: 0;
   font-family:Verdana,Helvetica,Arial,sans-serif;
  }

  .maintabbarbottom {
    background-color: #E8E8E8;
    border-top: 1px solid #000000;
    border-right: 0px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 0px solid #000000;
    box-shadow: none;
  }

  .tabbar a.button.cur, .tabbar a.button.cur:hover {
    text-shadow: none;
    font: 11px Verdana,Helvetica,Arial,sans-serif;
    color: #000000;
    background-color: #E8E8E8;
    border: 1px solid #000;
  }

  .tabbar a.button {
    text-shadow: none;
    font: 11px Verdana,Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #F2F2F2;
    border: 1px solid #000;
    text-shadow: none;
  }
  
  .tabbar a.button:hover {
    text-shadow: none;
    font: 11px Verdana,Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #EBEBEB;
    border: 1px solid #000;
    text-shadow: none;
  }

  a.button.notifying.closable,  a.button.notifying.closable:hover{
    border: 1px solid #000;
  }

  .ps-room.ps-room-opaque {
    background: rgba(240, 240, 240, 0.8);
    color: #FFF;
  }

  div.trainer > strong {
    color: #323841;
  }
   
  .battle-log h2 {
    background:#808080;
    color: #FFF;
    border: 1px solid #000000;
  }
  .userlist li button {
    text-shadow: 1px 1px #C8C8C8;
  }
 .userlist {
    background: #EEEEEE;
    border-right: 0px solid #000000;
  }

  span.username {
   text-shadow: 1px 1px #C8C8C8;
  } 

  div.pm-log > div {
    border-right: 0px solid #000000;
  }

.icon-user{
     display:none; 
    }

  button.select.formatselect:hover,  button.select.teamselect:hover {
    background: #E3E3E3;
  } 

  button.select.teamselect.preselected:hover{
    opacity: 0.85;
  }
  
  .infobox{
    background: #DFE4EB;
  }
  
  span.message-pm{
    color: #001F2E;
    text-shadow: 1px 1px #CCD4D8;
  }
  
  div.chat > small {
    color: #001F2E;
    text-shadow: 1px 1px #D4D4D5;
  }

  div.tournament-bracket.tournament-bracket-overflowing {
    background: url("http://i.imgur.com/WCEwpwL.png");
    background-repeat:no-repeat;
    background-size: auto 95%;
    background-position:center;
    opacity: 1;
  }

  div.mainmenu, div.mainmenufooter {
    position: fixed;
  }

  p > em {
    color: #000000;
  }

  .highlighted {
    background: #B3D3E8;
  }

  div.ps-popup.tournament-popout-bracket > div.tournament-bracket-tree {
    background: url("http://i.imgur.com/rAnK3vw.png");
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: top;
  }
