body{background-image:url("http://fc05.deviantart.net/fs70/f/2009/346/e/b/Suicune_Wallpaper_by_Super_Bastard.jpg");background-repeat:no-repeat;background-position:center}
button{
    border: 1px solid black;
    border-radius: 40;
    color: blue;
    font-family: Cursive;
}
