/**
 * Custom CSS declarations
 *
 * If your server is registered, you can create a file named `custom.css`
 * in the `config` directory and populate it with CSS rules to override the
 * normal client styles, when the client is connected to your server. In
 * other words, you can use this facility to introduce a custom theme for
 * your server.
 */
body {
        background-image: url("http://i.imgur.com/Ncms0UG.jpg") !important;
}
.backdrop {
	background-image: url("http://i.imgur.com/CZI3nGZ.png") !important;
}
.ps-room {
	background-color: rgba(242, 247, 250, 0.5) !important;
}
.menugroup {
	color: #fff;
	text-shadow: 1px 1px 0 #fff;
}
.menugroup .button {
	background: #3E68B2;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #fff;
}
.menugroup .button:hover {
	background: #FD784D;
