/**
 * Custom CSS declarations
 *
 * If your server is registered, you can create a file named `custom.css`
 * in the `config` directory and populate it with CSS rules to override the
 * normal client styles, when the client is connected to your server. In
 * other words, you can use this facility to introduce a custom theme for
 * your server.
 */
